<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="login">
	<insert id="signup" parameterType="dto.MemDTO">
		insert into member values(#{id},#{pass},#{name},'Bronze',#{phonenum},#{email})
	</insert>

	<select id="signin" parameterType="dto.MemDTO" resultType="int">
		select count(*) from member where id = #{id} and password=#{pass}
	</select>
	<select id="signlogin" parameterType="dto.MemDTO" resultType="dto.MemDTO">
		select * from member where id=#{id} and password=#{pass}
	</select>
	<select id="Idchk" resultType="int">
		select count(*) from member where id = #{id}
	</select>
	

	<select id="emailchk" resultType="int">		
		select count(*) from member	where email = #{email}	
	</select>

	<select id="Login_Info" resultType="dto.MemDTO">
		select * from member
		where id
		= #{id} and pw = #{pw}
	</select>


	<select id="idsearch" parameterType="dto.MemDTO"
		resultType="String">
		select id from member where name = #{name} and
		email=#{email}

	</select>

	<select id="passsearch" parameterType="dto.MemDTO"
		resultType="String">
		select password from member where id = #{id} and
		email=#{email}
	</select>

</mapper>



